.body{
    float:left;
}

tooltip.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 80px;
    padding: 2px;
    font: 14px sans-serif;
    visibility:hidden;
}

.radio{
    text-align: center;
}
.row{
    text-align: center;
}
