.body{
    float:left;
}

circle.tooltip {
    r:120;
    fill:grey;
    visibility:hidden;
}

.radio{
    text-align: center;
}
.row{
    text-align: center;
}

.select{
    position:absolute;
    top:950px;
    left:450px;
}

#yAxis .domain {
    display:none;
}

#yAxis .tick line {
    display:none;
}

#yAxis .tick text{
    font-size: 20px;
    font-weight: bold;
}

sliderBox{
    position: absolute;
    left:220px;
    top:980px;
}

svg {
    font-family: "Helvetica Neue", Helvetica;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.chart1{
    padding-top:50px;
}

text {
    font-weight: bold;
    font-family: Helvetica;
}